.u-section-1 {background-image: url("images/PA7BIF1x1.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 621px}
.u-section-1 .u-text-1 {font-size: 3.75rem; font-family: Audiowide; text-shadow: 2px 2px 8px rgba(0,0,0,0.4); margin: 108px auto 0 411px}
.u-section-1 .u-layout-wrap-1 {width: 1065px; margin: 15px 2px 0 auto}
.u-section-1 .u-layout-cell-1 {min-height: 485px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-form-1 {height: 381px; margin: 82px -60px -38px 0}
.u-section-1 .u-input-1 {background-image: none}
.u-section-1 .u-input-2 {background-image: none}
.u-section-1 .u-form-group-3 {margin-left: 0}
.u-section-1 .u-input-3 {background-image: none}
.u-section-1 .u-input-4 {background-image: none}
.u-section-1 .u-btn-1 {background-image: none; border-style: none}
.u-section-1 .u-image-1 {min-height: 485px; background-image: url("images/pexels-photo-412840.png"); background-position: 50% 50%}
.u-section-1 .u-container-layout-2 {padding: 30px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 512px}
.u-section-1 .u-text-1 {margin-left: 338px}
.u-section-1 .u-layout-wrap-1 {width: 940px; margin-right: 0}
.u-section-1 .u-layout-cell-1 {min-height: 428px}
.u-section-1 .u-form-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-form-group-3 {margin-right: 0}
.u-section-1 .u-image-1 {min-height: 428px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 392px}
.u-section-1 .u-text-1 {margin-left: 259px}
.u-section-1 .u-layout-wrap-1 {width: 720px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-image-1 {min-height: 328px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 294px}
.u-section-1 .u-text-1 {margin-left: 194px}
.u-section-1 .u-layout-wrap-1 {width: 540px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-1 {min-height: 492px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 185px}
.u-section-1 .u-text-1 {margin-left: 122px}
.u-section-1 .u-layout-wrap-1 {width: 340px}
.u-section-1 .u-form-group-1 {width: 100%}
.u-section-1 .u-form-group-2 {width: 100%}
.u-section-1 .u-form-group-3 {width: 100%}
.u-section-1 .u-form-group-4 {width: 100%}
.u-section-1 .u-form-group-5 {width: 100%}
.u-section-1 .u-image-1 {min-height: 310px} }